[*.cs]

# RCS1090: Call 'ConfigureAwait(false)'.
dotnet_diagnostic.RCS1090.severity = none

root=true

[*]
trim_trailing_whitespace = true

[*.{yaml,yml}]
indent_style = space
indent_size = 2
tab_width = 2
